#newsTickerSection{
    background-color: $light-shades;
    a{
      width: 100%;
      height: 100%;
    }
    #newsSectionOne{
      display: flex;
      justify-content: center;
      align-items: center;
      height:100%;
      padding: 0;
      img{
        width: 100%;
        height: 100%;
      }
      .VueCarousel{
        .VueCarousel-dot{
          background-color: $light-accent-dark !important;
        }
        .VueCarousel-dot.VueCarousel-dot--active{
          background-color: $base-color !important;
        }
        .VueCarousel-pagination{
          position: absolute;
          bottom: 0;
        }
      }
    }
    #newsTickerContainer{
      padding:0;
      #tickerSection{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color:$light-accent;
        img{
          width: 100%;
        }
      }
      #newsSectionTwo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 100%;
        }
      }
    }
  }
#timelineSection {
  background-color: $light-shades;
  padding: 1em 0;

  #timeline-section-header-container {
    margin: 3em 0;
    .timeline-section-header {
      text-align: center;
      font-size: 3.3rem;
      color: $dark-shades;
      font-weight: 400;
    }
  }
  #timeline{
    .vue-horizontal-timeline{
      box-shadow: none;
      background:none;
      .timeline{
        display:flex;
        align-items:center;
        padding: 2em 0;
        ol{
          padding:25% 0 30% 0;
          li{
            background-color: $light-accent-dark !important;
            .time{
              min-width: 15em !important;
            }
          }
          li:after{
            background: $base-color !important;
          }
          li:last-child{
            width: 100%;
          }
        }
      }
    }
  }
  #timeline > div > section > ol > li:nth-child(1) > a > div > div.d-flex.flex-column > div:nth-child(2) > span{
    width : 15em;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

