#tickerSectionDetail{

  #tickerSectionDetailHeader{

  }
  .container{
    border: 2px solid $light-accent-dark;
    background-color: lightgray;
    .border-bottomHr{
      border-top: 2px solid rgba(0, 0, 0, 0.1) !important;

    }

    #matchResultContainer{

    }
    #matchAllEvents{

    }
    #matchComments{
      a{
        text-decoration: none;
        color:unset;
        .numberOfComments{
          margin-right: 0.5em;
          background-color:$dark-shades;
          color:$light-shades;
          width:2em;
          height: 2em;
          text-align:center;
          display:flex;
          justify-content:center;
          align-items:center;
          border-radius:25px;
        }
      }
    }
    #matchInformation{

    }
    #matchReporterInformation{

    }
    #matchGoalsContainer{
      .firstTeamMatchGoals{
        flex: 30%;
      }
      .combinedGoals{
        flex: 40%;
        .leftSectionGoals{
          width: 100%;
          .leftGoal{
            width: 100%;
            text-align:left;
          }
        }
        .rightSectionGoals{
          width: 100%;
          .rightGoal{
            width: 100%;
            text-align:right;
          }
        }
      }
      .secondTeamMatchGoals{
        flex: 30%;
      }
    }
    #commentSectionForm{

    }
  }
}
