#navigation{
  #headerLogos-container{

  }
}

@media (min-width: 1281px) {
}
@media (min-width: 1025px) and (max-width: 1280px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 426px) and (max-width: 767px) {
  #navigation #menu-container .navbar-nav .nav-item a{
    border-bottom: 1px solid;
    margin-left: 1em;
    text-align: left;
  }
  #headerLogos-container{
    margin: 0;
    max-width: 100%;
  }
  #headerLogos-container > div > div > div > div:nth-child(3) > h1{
    font-size: 24px !important;
  }
  #headerLogos-container > div > div > div > div:nth-child(2) > h1{
    font-size: 24px !important;
  }
  #FcLogo{
    width: 70px !important;
    height: 70px !important;
  }
  #navbarSupportedContent{
    margin-left:15px;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  #navigation #menu-container .navbar-nav .nav-item a{
    border-bottom: 1px solid;
    margin-left: 1em;
    text-align: left;
  }
  #headerLogos-container{
    margin: 0;
    max-width: 100%;
  }
  #headerLogos-container > div > div > div > div:nth-child(3) > h1{
    font-size: 21px !important;
  }
  #headerLogos-container > div > div > div > div:nth-child(2) > h1{
    font-size: 21px !important;
  }
  #FcLogo{
    width: 60px !important;
    height: 60px !important;
  }
  #navbarSupportedContent{
    margin-left:15px;
  }
}


@media (min-width: 320px) and (max-width: 374px) {
  #navigation #menu-container .navbar-nav .nav-item a{
    border-bottom: 1px solid;
    margin-left: 1em;
    text-align: left;
  }
  #headerLogos-container{
    margin: 0;
    max-width: 100%;
  }
  #headerLogos-container > div > div > div > div:nth-child(3) > h1{
    font-size: 17px !important;
  }
  #headerLogos-container > div > div > div > div:nth-child(2) > h1{
    font-size: 17px !important;
  }
  #FcLogo{
    width: 60px !important;
    height: 60px !important;
  }
  #navbarSupportedContent{
    margin-left:15px;
  }
}