#sponsors-section{
  #sponsors-section-title{
    text-align: left;
    margin-bottom: 1em;
    margin-top: 1.5em;
    font-size: 3rem ;
    color: $light-shades;
    font-weight: 400;
    border-bottom: 1px solid $light-shades;
  }
  .sponsors{
    .sponsors-title{
      text-align: left;
      margin-bottom: 1.5em;
      margin-top: 2em;
      font-size: 2.5rem ;
      color: $light-shades;
      font-weight: 300;
    }
    .col-sm-3{
      img{
        vertical-align: middle;
        margin: 0 auto;
        width: 60%;
      }
    }
  }
}